/* 
    COMP 333: Software Engineering
    Sebastian Zimmeck (szimmeck@wesleyan.edu)

    Laura Baine (lbaine@wesleyan.edu
    18 Feb 2022
*/

/* 
    You can import a font from Google at https://fonts.google.com/
*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee&family=Bungee+Outline&family=Bungee+Shade&family=Cardo&family=Noto+Serif+Display:wght@300;400&family=Playfair+Display:wght@900&family=Ultra&display=swap" rel="stylesheet');

body {
    /*font-family: 'Noto Sans SC', sans-serif;*/
    background-color: rgb(77, 120, 251);
    font-family: 'Cardo', serif;
}

h1 {

    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
}

h2 {
    font-family: 'Bungee', cursive;
    font-size: 30px;
}

h3 {
    font-family: 'Ultra', serif;
    font-size: 20px;
}

h4 {
    font-family: 'Playfair Display', serif;
}

h5 {
    font-family: 'Bungee Outline', cursive;
    font-size: 40px;
}

/* 
    All text in paragraphs should be black.
*/
p {
    color:black;
    font-family: 'Cardo', serif;
}

/* 
    The background of all divs should be mango.
 */
 div {
    background-color: rgb(144, 215, 239);
}

.div-topChart {
    color: coral;
}

table, td {
    border: 2px solid white;
    background-color: rgb(182, 227, 242);
    -webkit-text-fill-color: rgb(45, 45, 45);
    text-size-adjust: 20px;
}

