/* 
    COMP 333: Software Engineering
    Sebastian Zimmeck (szimmeck@wesleyan.edu)

    Laura Baine (lbaine@wesleyan.edu
    18 Feb 2022
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');

body {
    font-family: 'Noto Sans SC', sans-serif;
}
/* 
    All text in paragraphs should be blue.
*/
p {
    color:white;
}

/* 
    The background of all divs should be pink.
 */
div {
    background-color: hotpink;
}
#white-div {
    color: white;
}

.navbar ul {
    /* 
        Remove bullet points.
    */
    list-style: none;
    width: 500px;
    margin: 0 auto;
    /* 
        No padding.
    */
    padding: 0;
    /* 
        For navbars use background color that stands out.
    */
    background-color: black;
    text-align: center;
}

/*  
    Style individual list items.
*/
.navbar li {
    width: 150 px;
    background-color: #000;
    border: 1px solid pink;
    /* 
        Show the navbar elements next to each other instead of on top of each 
        other. 
    */
    padding: 10px;
    display: inline-block;
    line-height: 40px;
}