/* 
    COMP 333: Software Engineering
    Sebastian Zimmeck (szimmeck@wesleyan.edu)

    Laura Baine (lbaine@wesleyan.edu
    18 Feb 2022
*/

/* 
    You can import a font from Google at https://fonts.google.com/
*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee&family=Bungee+Outline&family=Bungee+Shade&family=Cardo&family=Noto+Serif+Display:wght@300;400&family=Playfair+Display:wght@400;900&family=Ultra&display=swap" rel="stylesheet');

/*
    The imported font should be applied to all body text
    and background color is for the entire page.
*/
body {
    background-color: rgb(236, 71, 178);
    font-family: 'Cardo', serif;
}

/*
    All text in h1-h5 should be the following imported font.
*/
h1 {

    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
}

h2 {
    font-family: 'Bungee', cursive;
    font-size: 30px;
}

h3 {
    font-family: 'Ultra', serif;
    font-size: 20px;
}

h4 {
    font-family: 'Playfair Display', serif;
}

h5 {
    font-family: 'Bungee Outline', cursive;
    font-size: 35px;
}

/* 
    All text in paragraphs should be black and the imported font.
*/
p {
    color:black;
    font-family: 'Cardo', serif;
}

.navbar ul {
    /* 
        Remove bullet points.
    */
    list-style: none;
    margin: 0 auto;
    /* 
        No padding.
    */
    padding: 0;
    /* 
        For navbars background color, text-alignment, etc.
    */
    background-color: black;
    text-align: left;
    overflow: hidden;
    position: fixed;
}

/*  
    Style individual list items.
*/
.navbar li {
    width: 150 px;
    background-color: black;
    border: 1px solid black;
    /* 
        Show the navbar elements next to each other instead of on top of each 
        other. 
    */
    padding: 10px;
    display: inline;
}

/* 
    Style links in navbar.
*/
.navbar li a{
    color: white;
    border: 1 px solid black;
    padding: 14px 16px;
    line-height: 40 px;
}

/* 
    The background of all divs should be hot pink.
*/
div {
    background-color: rgb(236, 71, 178);
}

/* 
    The background of this div should be black
    along with the following text settings.
*/
.div-welcome {
    text-align: center;
    font-size: 225px;
    color: black;  
    margin-bottom: 100px;
}

/* 
    ranks id referral ... adding margins
 */
#ranks {
    margin-top: 100px;
}

/* 
    Style iframe
 */
iframe {
    width: 100%;
    height: 100%;
    border-color: 3px white;
}

/* 
    reviews id referral ... adding margins
 */
#reviews {
    margin-top: 100px;
}

/* 
    ranks id referral ... adding color/text edits
 */
#div-reviews {
    background-color: rgb(61, 205, 250);
    border-width: 3px;
    border-style: solid;
    border-color: white;
    color: black;
    margin-bottom: 10px;
    padding: 10px;
}

/* 
    presave id referral ... adding margins
 */
#presave {
    margin-top: 100px;
}

.div-block-presave {
    background-color: rgb(114, 236, 246);
    border: white;
    border-width: 3px;
    border-style: solid;
    color: black;
}

.div-presave {
    background-color: rgb(236, 71, 178);
    color: black;
    font-size: 100px;
    text-align: center;
}

.div-footnote-block {
    margin-top: 100px;
    background-color: black;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    color: white;
    text-align: center;
    margin-block-end: 100px;
}
